{%block head %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workout Log</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel=”apple-touch-icon” href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel=”apple-touch-icon-precomposed” href="{{ url_for('static', filename='favicon.ico') }}" />

  <script>
  $(document).ready(function() {
    $("#workout").on("input", function(){
      workout = $("select#workout").val();
      if (workout == 'Add New Workout') {
        window.location.replace("/register_workout")
        //$("#mySelect option[value='3']").attr('selected', 'selected');
      }
      $.getJSON("/get_stats?workout=" + workout, function( data ) {
        $.each(data, function( key, val ) {
          $("#"+key).val(val);
        });
      });
    });

  });
  /*
     show_form = function(){
         $("#new_user").removeClass("hidden");
     }

     to_user_home = function(){
         name = $("#new_name").val();
         window.location.replace('/' + name);
     }
*/
  </script>
</head>

{% endblock %}

{%block body %}
<body>

<div class="container">
  <h1><a href="{{url_for('index')}}">Workout Log</a></h1>
  <div class="container">
    <form>
      <label for="workout">Select list:</label>
        <select class="form-control" id="workout" name="workout">
          {% for workout in all_workouts %}
          <option {%if workout == form_data[0].get('value')%} selected {% endif %}>{{workout}}</option>
          {% endfor %}
          <option>Add New Workout</option>
        </select>
        {% for field in form_data[1:] %}
            <div class="form-group">
              <label for="{{field['name']}}">{{field['name'].title()}}</label>
              <input type="{{field['type']}}" class="form-control" id="{{field['name']}}" name="{{field['name']}}" value="{{field['value']}}">
            </div>
            {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class = "container table table-responsive">
    {{ table.to_html(classes = "table table-responsive", index = False, escape = False) | safe}}
  </div>
</div>
<!--<div class="container">
<iframe width="100%" height="500" src="http://192.168.1.17:8000"></iframe>
</div>-->
</body>
{% endblock %}
</html>
