{%block head %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Budget Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel=”apple-touch-icon” href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel=”apple-touch-icon-precomposed” href="{{ url_for('static', filename='favicon.ico') }}" />

  <script>
  $(document).ready(function() {
    $("#workout").on("input", function(){
      if ($("select#workout").val() == 'Add New Workout') {
        window.location.replace("/register_workout")
        //$("#mySelect option[value='3']").attr('selected', 'selected');
      }
    });

  });
  /*
     show_form = function(){
         $("#new_user").removeClass("hidden");
     }

     to_user_home = function(){
         name = $("#new_name").val();
         window.location.replace('/' + name);
     }
*/
  </script>
</head>

{% endblock %}

{%block body %}
<body>

<div class="container">
  <h1><a href="{{url_for('index')}}">Workout Log</a></h1>
  <h2>Register New Workout</h2>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="workout">Enter Workout Name</label>
        <input type="text" class="form-control" id="workout" name="workout" value="(E.g. Barbell Squat)">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if repeats %}
      {% for repeat in repeats %}
        <p class="text-danger">New workout "{{repeat}}" already registered.</p>
      {% endfor %}
    {% endif %}
  </div>
</div>
<!--<div class="container">
<iframe width="100%" height="500" src="http://192.168.1.17:8000"></iframe>
</div>-->
</body>
{% endblock %}
</html>
